@charset "UTF-8";

.krok{
	float: left;
	display: block;
}
.krok a {
	height: 40px;
	display: block;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	color: #fff;
	cursor: pointer;
}
.krok.aktivni a{
	cursor: default;
	background: #59267C;
}
.krok.nepristupne a{
	cursor: default;
}

.krok a:hover{
	color: #fff;
	background: #59267C;
}
.kroky_blok{
	display: block;
	height: 40px;
	background: #8F5DB7;
	color: #fff;
	margin-bottom: 40px;
}